<!-- 以區域變數做出彈性 -->
<%= form_for task, url: { controller: :tasks, action: action }, html: { method: method } do |f| %>

  <div>
    <%= f.label :title, t('attributes.title') %>
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div>
    <%= f.label :status, t('attributes.status') %>
    <%= f.select :status, options_for_select(@statuses) %>
  </div>

  <div>
    <%= f.label :emergency_level, t('attributes.emergency_level') %>
    <%= f.select :emergency_level, options_for_select(@emergency_levels) %>
  </div>

  <div class="date-of-started-time-container">
    <%= f.label :started_at, t('attributes.started_at') %>
    <%= f.date_select :started_at, order: %i[year month day] %>
  </div>

  <div class="date-of-deadline-time-container">
    <%= f.label :deadline_at, t('attributes.deadline_at') %>
    <%= f.date_select :deadline_at, order: %i[year month day] %>
  </div>
  
  <div>
    <%= f.label :description, t('attributes.description') %>
    <%= f.text_area :description %>
  </div>

  <div id="form-action">
    <%= f.submit button %>
  </div>

<% end %>
