<h1>New Task</h1>

<%= link_to 'Task Index', tasks_path %>

<%= form_for @task, url: { controller: :tasks, action: :create }, html: { method: :post } do |f| %>
  
  <div>
    <%= f.label :title, 'Title:' %>
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div>
    <%= f.label :status, 'Status:' %>
    <%= f.select :status, options_for_select(@status) %>
  </div>

  <div>
    <%= f.label :emergency_level, 'Priority:' %>
    <%= f.select :emergency_level, options_for_select(@emergency_level) %>
  </div>

  <div>
    <%= f.label :started_at, 'Started_at:' %>
    <%= f.text_field :started_at, placeholder: Date.today.to_s %>
  </div>

  <div>
    <%= f.label :deadline_at, 'Deadline_at:' %>
    <%= f.text_field :deadline_at, placeholder: Date.tomorrow.to_s %>
  </div>

  <!--  問一下 KT 這邊的寫法為什麼不能寫進 DB 內
  <div>
    <%#= f.label :started_at, 'Started_at:' %>
    <%#= f.date_select :started_at, order: [:year, :month, :day] %>
  </div>

  <div>
    <%#= f.label :deadline_at, 'Deadline_at:' %>
    <%#= f.date_select :deadline_at, order: [:year, :month, :day] %>
  </div>
  -->

  <div>
    <%= f.label :description, 'Description:' %>
    <%= f.text_area :description %>
  </div>

  <div id="form-action">
    <%= f.submit 'Create' %>
  </div>

<% end %>