<h1><%= t('.show_title') %></h1>

<%= link_to t('attributes.task.task_index'), tasks_path, class: 'btn btn-primary task-index', role: 'button' %>
<%= link_to t('attributes.task.task_edit'), edit_task_path(@task), class: 'btn btn-outline-info', type: 'button' %>
<%= link_to t('attributes.task.task_delete'), task_path(@task), method: :delete, data: { confirm: t('attributes.task.delete_confirm') }, class: 'btn btn-outline-danger', type: 'button' %>

<table class="table table-hover">
  <thead class="bg-warning">
    <tr>
      <th scope="col"><%= t('attributes.task.title') %></th>
      <th scope="col"><%= t('attributes.task.status') %></th>
      <th scope="col"><%= t('attributes.task.emergency_level') %></th>
      <th scope="col"><%= t('attributes.task.started_at') %></th>
      <th scope="col"><%= t('attributes.task.deadline_at') %></th>
      <th scope="col"><%= t('attributes.task.description') %></th>
    </tr>
  </thead>
  <tbody>
    <tr class="task-item">
      <td><%= @task.title %></td>
      <td><%= @task.status %></td>
      <td><%= @task.emergency_level %></td>
      <td><%= @task.started_at %></td>
      <td><%= @task.deadline_at %></td>
      <td><%= @task.description %></td>
    </tr>
  </tbody>
</table>