<!DOCTYPE html>
<html>
  <head>
    <title>Ip Man</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= link_to '中文', locale: "zh-TW" %>
    <%= link_to 'English', locale: "en" %>
    
    <%= notice %>
    <%= yield %>
  </body>
</html>
